<ion-header>

  <ion-navbar text-center>
    <img width="180" height="20" src="assets/headLogo.png"/>
  </ion-navbar>

</ion-header>


<ion-content>

  <div text-center *ngIf="listaVacia == 0">
      
      <img style="width:120px;height:120px;margin:70px auto 0px;" src="assets/introBuddy.png"/>
      
      <h1 text-center>Bienvenido</h1>

      <p style="padding:0px 20% 20px;" text-center>
        Para crear tu lista selecciona un producto de nuestro catálogo o añade uno nuevo.</p>
        
      <button (click)="agregarItems()" ion-button color="primary" round>Crear lista</button>

  </div>
  
  <ion-list *ngIf="listaVacia == 1">
  
    <ion-item-sliding *ngFor="let producto of productos; let i = index">
    
      <ion-item>
        <ion-label>{{producto.nombre}}</ion-label>
        <ion-checkbox [(ngModel)]="producto.activo" checked="producto.activo" (click)="archivar(i)"></ion-checkbox>
      </ion-item>
      
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteProd(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>

</ion-content>

<!-- tuve que quitarle esto [ *ngIf="listaVacia == 1" ] ??? -->
 <ion-fab center bottom *ngIf="listaVacia == 1">
    <button ion-fab color="primary" (click)="agregarItems()"><ion-icon name="add"></ion-icon></button>
 </ion-fab>

<ion-footer>
    <ion-toolbar text-right>
      <button ion-button color="light" (click)="eliminar()">Eliminar Storage</button>
      <!--button ion-button color="dark" (click)="agregarItems()" *ngIf="listaVacia == 1"><ion-icon name="add"></ion-icon></button-->
      <button ion-button color="dark" (click)="verData()" *ngIf="compras == true"><ion-icon name="stats"></ion-icon></button>
    </ion-toolbar>
</ion-footer>